<header>
  <div class="container">
    <div class="header-wrap">
      <div class="header-logo">
        <a href="homepage.html"></a>
      </div>

      <nav class="navbar-expand-lg navbar-light custom-collapse">
        <a class="custom-head-menu" href="courses.html">Courses</a>

        <button
          class="navbar-toggler custom-toggle-btn"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        ></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul>
            <li class="course-link">
              <a href="javascript:void(0)">Portfolio</a>
            </li>
            <li><a href="javascript:void(0)">About Us</a></li>
            <li><a href="javascript:void(0)">Services</a></li>

            <li><a href="javascript:void(0)">Our Team</a></li>

            <li class="sign-up cust-btn">
              <a href="javascript:void(0)">Sign up</a>
            </li>
            <li class="log-in cust-btn">
              <a href="javascript:void(0)">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
